@model FileSync.Models.LinkUserViewModel

@{
    ViewBag.PageIcon = "star";
    ViewBag.PageIconDescription = "Add Users to Group";
    ViewBag.Title = "Add Users to Group";
}
<div style="display: flex; flex-flow: row wrap; justify-content: flex-start;">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal" style="margin-right: 80px;min-width: 300px;">
            <h4>Search:</h4>
            <hr />
            <div class="form-group">
                <span class="control-label">Username: </span>
                @Html.TextBox("searchName", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <span class="control-label">Member in groups: </span>
                @Html.TextBox("searchGroup", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <span class="control-label">Minimum Member Count: </span>
                @Html.TextBox("numOfGroups", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-default" />
            </div>
        </div>
    }
    <div style="margin-top: 50px; min-width: 400px;">
        <table class="table">
            <tr>
                <th></th>
                <th>
                    Username
                </th>
                <th>
                    Action
                </th>
            </tr>

            @foreach (var item in Model.Users)
        {
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-user fs-icon"></span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @using (Html.BeginForm(Model.Action, Model.Controller, new { parentId = Model.ParentId, userId = item.Id }, FormMethod.Post))
                    {
                            <button type="submit" class="glyphicon glyphicon-plus fs-no-decoration fs-icon-button"></button>
                    }
                    </td>
                </tr>
        }

        </table>
    </div>
</div>