
/******** Navbar ********/
.fs-navbar{
    background-color: rgb(240, 240 ,240);
    color: rgba(0,0,0,0.7);
    height: 130px;
    box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.3);
}

.fs-navbar .container{
    height: 100%;
}

.fs-navbar .container .fs-nav-item{
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.fs-navbar-icon-container{
    margin: 0 20px;
    float:right;
    color: rgba(0,0,0,0.7);
}

.fs-navbar-icon{
    font-size: 70px;
    text-align: center;
    text-decoration: none !important;
}

.container.body-content{
    margin-top:20px;
}

/******** Manage Page ********/

.fs-manage-icons-container{
    display: flex; 
    flex-flow:row wrap; 
    justify-content: space-around;
    margin: 50px 0;
}

.fs-manage-icon{
    font-size: 150px;
}


/******** Login ********/
@font-face{
    font-family: loginFont;
    src: url(/fonts/skim-milk.medium.ttf);
}

.fs-box{
    background:rgba(0,0,0,0.1);
    border-radius:5px;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.3);
    padding: 10px 30px;
}

.fs-login-title{
    text-align:center; 
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font-family: loginFont;
}

/******** Autocomplete ********/
.fs-autocomplete-loading {
    background: white url('~/Content/img/ui-anim_basic_16x16.gif') right center no-repeat;
}

.ui-helper-hidden-accessible { display:none; }
 
.ui-autocomplete {
    max-height: 250px;
    width: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
    padding-left: 5px !important;
    list-style: none;
    background: white;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}
 
.ui-autocomplete li {
    font-size: 16px;
}

.ui-autocomplete li.ui-state-focus{
    background: rgba(0,0,0,0.1);
}

/******** Home ********/
.fs-folder-content{
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.fs-folder,
.fs-file{
    margin: 15px;
    height: 100px;
    width: 100px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    padding: 5px;
    box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    background: rgba(0,0,0,0.05);
    color: rgb(145, 145, 145);
    text-decoration: none !important;
    transition: all 0.25s ease-in;
}

.fs-folder a,
.fs-file a{
    text-decoration: none;
    color: inherit;
}

.fs-folder:hover,
.fs-file:hover{
    transform: scale(1.5);
    background: rgba(0,0,0,0.1);
    transition: all 0.25s ease-out;
}

.fs-folder .fs-folder-icon,
.fs-file .fs-file-icon{
    margin-bottom: 10px;
    font-size: 56px;
    display: block;
    text-align: center;
}

.fs-file .fs-file-icon{
    color: rgb(0, 148, 255);
}

.fs-folder .fs-folder-description,
.fs-file .fs-file-description{
    font-size:14px;
    display: block;
    text-align: center;
    word-wrap: break-word;
    white-space: nowrap;
    text-decoration: none;
    color: rgb(70, 68, 68);
    text-overflow: ellipsis;
    overflow: hidden;
}

/******** General ********/
body{
    background: rgba(0,0,0,0.05)
}

.fs-no-decoration{
    text-decoration: none !important;
}

.fs-icon-description{
    display: block;
    text-align: center;
    word-wrap: break-word;
}

.fs-icon-button{
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    border: none;
    background: none;
    box-shadow: none;
}

.fs-icon-button:hover{
    color: rgba(0,0,0,0.3);
}

.fs-icon-button.fs-fab{
    border-radius: 45px;
    height: 45px;
    width: 45px;
    text-align: center;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.1);
    background: rgb(240, 240, 240);
    transition: all 0.25s ease-in;
}

.fs-icon-button.fs-fab:hover{
    transform: scale(1.2);
    transition: all 0.25s ease-out;
}


/******** Statistics ********/
.axis path {
        fill: none;
        stroke: #777;
        shape-rendering: crispEdges;
    }

    .axis text {
        font-family: Lato;
        font-size: 13px;
    }

/******** About ********/
.newspaper {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
        -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
        -moz-column-rule-style: solid; /* Firefox */
        column-rule-style: solid;
        -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
        -moz-column-rule-width: 1px; /* Firefox */
        column-rule-width: 1px;
        -webkit-column-rule-color: lightblue; /* Chrome, Safari, Opera */
        -moz-column-rule-color: lightblue; /* Firefox */
        column-rule-color: lightblue;
    }