@model FileSync.Models.HomeViewModel

@{
    var pageIcon = Model.ParentFolder == null ? "home" : "folder-open";
    var iconDescription = Model.ParentFolder == null ? "Home" : Model.ParentFolder.Name;
    ViewBag.Title = "Home Page";
    ViewBag.PageIcon = pageIcon;
    ViewBag.PageIconDescription = iconDescription;
}


<div class="container">
    <div class="fs-folder-content">
        @if (!Model.Folders.Any() && !Model.Files.Any() && Model.ParentFolder == null)
        {
            <h2>Sorry, you have no files or folders that you are authorized to view :(</h2>
        }
        
        @if (Model.ParentFolder != null)
        {
            @Html.Partial("_FolderTemplate", 
            new FileSync.Models.Folder() { Id = string.IsNullOrWhiteSpace(Model.ParentFolder.ParentFolderId) ? null : Model.ParentFolder.ParentFolderId, Name = ".." })  
        }
        @foreach (var folder in Model.Folders)
        {
            @Html.Partial("_FolderTemplate", folder)
        }
        @foreach (var file in Model.Files)
        {
            @Html.Partial("_FileTemplate", file)
        }
    </div>
</div>