@model FileSync.Models.Group

@{
    ViewBag.PageIcon = "star";
    ViewBag.PageIconDescription = Model.DisplayName;
    ViewBag.Title = Model.DisplayName;
}

<table class="table">
    <tr>
        <th></th>
        <th>
            User Name
        </th>
        <th>
            Remove
        </th>
    </tr>

    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                <span class="glyphicon glyphicon-user fs-icon"></span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @using (Html.BeginForm("RemoveUserFromGroup", "ManageGroups", new { groupId = Model.Id, userId = item.Id }, FormMethod.Post))
                {
                    <button type="submit" class="glyphicon glyphicon-remove fs-no-decoration fs-icon-button"></button>
                }
            </td>
        </tr>
    }

</table>
<div style="position:relative; height: 45px; font-size:45px; line-height: 1;">
    @Html.ActionLink(" ", "SearchUsersToAdd", new { groupId = Model.Id},
                new { @class = "glyphicon-plus fs-no-decoration fs-icon-button fs-fab", @style = "position: absolute; right: 0;" })
</div>
