
<!--<div class="container">

    <div class="jumbotron">-->
        
        <svg id="daysToFilesCount" width="450" height="250"></svg>

<!--    </div>

</div>-->
<style>
    .axis path {
        fill: none;
        stroke: #777;
        shape-rendering: crispEdges;
    }
    .axis text {
        font-family: Lato;
        font-size: 13px;
    }

</style>

@section Scripts {
    @Scripts.Render("http://d3js.org/d3.v3.min.js")
    @Scripts.Render("~/Scripts/Statistics/daysToFilesGraph.js")
    @Scripts.Render("~/bundles/jqueryval")
}